<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EcommerceWebsite</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EcommerceWebsite.styles.css" asp-append-version="true" />
	<link rel="icon" type="image/png" href="images/icons/favicon.png" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css" asp-append-version="true">
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css" asp-append-version="true">
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css" asp-append-version="true">
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css" asp-append-version="true">
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css" asp-append-version="true">
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css" asp-append-version="true">
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css" asp-append-version="true">
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="css/util.css" asp-append-version="true">
    <link rel="stylesheet" type="text/css" href="css/main.css" asp-append-version="true">
	<!--===============================================================================================-->
</head>
<body>
    
    <div class="wrapper">
        @await Component.InvokeAsync("Header")
        <main role="main">
            @RenderBody()
        </main>
        @await Component.InvokeAsync("Footer")
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/daterangepicker/moment.min.js"></script>
    <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <script src="vendor/slick/slick.min.js"></script>
    <script src="js/slick-custom.js"></script>
    <script src="vendor/parallax100/parallax100.js"></script>
    <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script src="vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="vendor/sweetalert/sweetalert.min.js"></script>
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
